
link(href="main.css" rel="stylesheet")
.box
  .head
    .head-copy
    .left-ear
      .inner-ear
    .right-ear
      .inner-ear
    .left-eye
      .pupil
    .right-eye
      .pupil
    .nose
      .nose-black
        .nose-white
      .mouth-ellipse-left
      .mouth-mask-left
      .mouth-ellipse-right
      .mouth-mask-right

    