// https://medium.com/@antonioregadas/getting-started-with-pug-template-engine-e49cfa291e33
// Testing just enough to use with pure CSS images

html
    head
        title Testing Pug
    body
        section
            h1 This is a test of Pug
            p Pug is a HTML preprocessor.