astroid==1.5.3
autopep8==1.3.3
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.1
beautifulsoup4==4.6.0
bs4==0.0.1
cairocffi==0.8.0
CairoSVG==2.0.3
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
check50==2.2.1
click==6.7
cs50==2.3.3
cssselect==1.0.1
cssselect2==0.2.0
decorator==4.1.2
EditorConfig==0.12.1
feedparser==5.2.1
Flask==0.12.2
Flask-AutoIndex==0.6
Flask-JSGlue==0.3.1
Flask-Session==0.3.1
Flask-Silk==0.2
Flask-SQLAlchemy==2.2
future==0.16.0
help50==2.0.0
html5lib==0.999999999
icdiff==1.9.1
idna==2.6
ipython-genutils==0.2.0
isort==4.2.15
itsdangerous==0.24
Jinja2==2.9.6
jsbeautifier==1.6.14
jsonschema==2.6.0
jupyter-core==4.3.0
lazy-object-proxy==1.3.1
lxml==4.6.3
MarkupSafe==1.0
mccabe==0.6.1
natsort==5.1.0
nbformat==4.4.0
nltk==3.2.4
oauthlib==2.0.2
olefile==0.44
passlib==1.7.1
pexpect==4.2.1
Pillow==4.2.1
plotly==2.0.14
ptyprocess==0.5.2
pycodestyle==2.3.1
pycparser==2.18
Pygments==2.2.0
pylint==1.7.4
pylint-django==0.7.2
pylint-flask==0.5
pylint-plugin-utils==0.2.6
PyPDF2==1.26.0
Pyphen==0.9.4
python-magic==0.4.13
pytz==2017.2
render50==2.4.2
requests==2.18.4
requests-oauthlib==0.8.0
six==1.10.0
SQLAlchemy==1.1.13
sqlparse==0.2.3
style50==2.4.0
submit50==2.4.6
termcolor==1.1.0
tinycss==0.4
tinycss2==0.6.0
traitlets==4.3.2
twython==3.5.0
urllib3==1.22
virtualenv==15.1.0
WeasyPrint==0.40
webencodings==0.5.1
Werkzeug==0.12.2
wrapt==1.10.11
