script(src="https://code.jquery.com/jquery-1.12.4.min.js")
link(rel="stylesheet" href="main.css")
.box
  .center
    .number
      .oneDiag
      .oneVert
      .zeroFirst
      .zeroSecond
    .days Days
    .challenge CSS Challenge