/****** STRUCTURE ******/

.navbar {
  margin: 0px auto 6px;
}

.row {
  margin: 1px;
}

.thumbnail {
  margin: 0px;
}

ul li {
  display: inline
}

footer {
  position: relative;
}

footer button {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

/****** COLOUR ******/

p {
  color: #888;
}

.fa {
  color: #000;
}

a .fa:visited {
  color: #000;
}
