link(rel="stylesheet" href="main.css")
.box
  .body
    .body-copy
    .left-foot
    .right-foot
    .tail
  .head
    .head-copy
    .ear-left
    .ear-right
    .cheek-left
    .cheek-right
    .nose-length
      .nose
      .mouth-split
        .mouth-split-copy
        .mouth-mask
        .mouth
    .eye-left
    .eye-right
