// Guide: https://coding-artist.teachable.com/
// Made with my own measurements

html
    head
        title Logo
        link(href="main.css" rel="stylesheet")
    body
        .box
            .bottom-large-triangle
            .bottom-medium-triangle
            .top-centre-triangle
            .top-edge-left-triangle
            .top-edge-right-triangle
            .top-filler-left-triangle
            .top-filler-right-triangle