//********** Navbar colors **********//
$navbar-dark-color: #fff;
$navbar-dark-active-color: #8baad7;
$navbar-dark-hover-color: #fff;
$navbar-light-color: #fff;
$navbar-light-hover-color: #01325b;

//********** Dropdown **********//
$dropdown-link-hover-bg: #8baad7;
$dropdown-link-color: #fff;
$dropdown-bg: rgba(139, 170, 215, 0.5); 

//********** Fonts **********//
$headings-font-family: Georgia,"Times New Roman",Times,serif;
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-variant: small-caps;
}
.hero h3, .hero p, .hero a, .hero button {
 color: #01325a;
}
.dropdown-item, .nav-item, .navbar-text, .nav-link {
    font-variant: small-caps;
}

//********** Submenu **********//
.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
}

//********** Buttons **********//
$btn-border-radius: 10px;
.btn {
    font-variant: small-caps;
}
.btn-card {
    color: #fff;
    background-color: #8baad7;
    border-color: #8baad7;
}

//********** Cards **********//
.card-icon {
    color: #8baad7;
    background-color: #fff;
    transition-property: color background-color;
    transition-duration: 1s;
}
.card:hover .card-icon {
    background-color: #8baad7;
    color: #fff;
    transition-property: color background-color;
    transition-duration: 1s;
}
.card-opacity {
    color: transparent;
    background-color: transparent;
    transition-property: color background-color;
    transition-duration: 0.33s;
}
.card:hover .card-opacity {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    transition-property: color background-color;
    transition-duration: 0.33s;
}

//********** Events **********//
.event-link, .event-link:hover {
    color: #8baad7;
    font-size: 11px;    
    text-decoration: none;
}

//********** Footer **********//
.footer-link, .footer-link:hover {
    color: #8baad7;
    list-style-type: none;
    text-decoration: none;
}
footer .list-group-item {
    background-color: transparent;    
    border-color: #1c476d;
    border-top: none;    
    margin-left: 0;
    padding-left: 0;
}
.text-secondary {
    color: lightgrey;
}

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import "node_modules/bootstrap/scss/reboot";

@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/bootstrap-grid";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/list-group";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/utilities";