link(rel="stylesheet" href="main.css")
.box
  .head
    .head-copy
    .ear-left
    .ear-right
    .cheek-left
      .cheek-left-mark
    .cheek-right
      .cheek-right-mark
    .linear-gradient
    .eye-left
    .eye-left-patch
    .eye-left-pupil
      .eye-left-centre
    .eye-right
    .eye-right-patch
    .eye-right-pupil
      .eye-right-centre
    .nose
      .nose-left-whiskers
        .left-whisker-two
        .left-whisker-three
      .nose-right-whiskers
        .right-whisker-two
        .right-whisker-three
      .nose-bridge
      .nose-tip
      .nose-split
    .mouth
      .lips
  