$deep-spring-bud: #606C38;
$black-leather-jacket: #283618;
$light-yellow: #FEFAE0;
$pale-copper: #DD8B5F;
$liver: #BC6C25;

.box {
  position: relative;
  background: $deep-spring-bud;
  height: 500px;
  width: 500px;
  margin: auto;
}
.head{
  position: absolute;
  background: $liver;
  border-radius: 44%;
  width: 55%;
  height: 50%;
  top: 20%;
  left: 22%;
}
.head-copy{
  position: absolute;
  background: radial-gradient(circle at 50% 40%, $liver 60%, $light-yellow 65%);
  border-radius: 44%;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.ear-left{
  position: absolute;
  background: linear-gradient(200deg, $black-leather-jacket 55%, $liver 65%);
  height: 25%;
  width: 25%;
  top: -17%;
  left: 5%;
  transform: rotate(-30deg);
-webkit-clip-path: polygon(58% 0, 68% 35%, 100% 100%, 0 100%, 27% 32%);
clip-path: polygon(58% 0, 68% 35%, 100% 100%, 0 100%, 27% 32%);
}
.ear-right{
  position: absolute;
  background: linear-gradient(200deg, $black-leather-jacket 55%, $liver 65%);
  height: 25%;
  width: 25%;
  top: -17%;
  right: 5%;
  transform: rotate(30deg) scale(-1, 1);
-webkit-clip-path: polygon(58% 0, 68% 35%, 100% 100%, 0 100%, 27% 32%);
clip-path: polygon(58% 0, 68% 35%, 100% 100%, 0 100%, 27% 32%);
}
.eye-patch-left{
  position: absolute;
  background: $light-yellow;
  width: 30%;
  height: 40%;
  left: 15%;
  top: 5%;
  transform: rotate(-10deg);
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  z-index: 2;
}
.eye-patch-right{
  position: absolute;
  background: $light-yellow;
  width: 30%;
  height: 40%;
  right: 15%;
  top: 5%;
  transform: rotate(10deg);
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  z-index: 2;
}
.cheek-left{
  position: absolute;
  background: $light-yellow;
  height: 65%;
  width: 90%;
  left: -15%;
  bottom: -5%;
  transform: rotate(15deg);
  z-index: 1;
  -webkit-clip-path: polygon(10% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
clip-path: polygon(10% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
.cheek-left-mark{
  position: absolute;
  background: $black-leather-jacket;
  height: 100%;
  width: 100%;
  left: 7%;
  bottom: 12%;
  z-index: 1;
  -webkit-clip-path: polygon(10% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
clip-path: polygon(10% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
.cheek-right{
  position: absolute;
  background: $light-yellow;
  height: 65%;
  width: 90%;
  right: -16%;
  bottom: -5%;
  transform: rotate(-15deg);
  z-index: 1;
  -webkit-clip-path: polygon(90% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
clip-path: polygon(90% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
  .cheek-right-mark{
  position: absolute;
  background: $black-leather-jacket;
  height: 100%;
  width: 100%;
  right: 7%;
  bottom: 15%;
  z-index: 1;
  -webkit-clip-path: polygon(90% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
clip-path: polygon(90% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
.linear-gradient{
  position: absolute;
  background: radial-gradient($black-leather-jacket 10%, transparent 10%, $black-leather-jacket 30%, transparent 30%, $black-leather-jacket 50%, transparent 50%, $black-leather-jacket 60%, transparent 60%);
  width: 110%;
  height: 100%;
  top: -10%;
  right: -5%;
  z-index: 2;
}
.eye-left{
  position: absolute;
  background: $black-leather-jacket;
  height: 20%;
  width: 20%;
  left: 20%;
  top: 20%;
  transform: rotate(15deg);
  -webkit-clip-path: polygon(30% 25%, 70% 25%, 100% 45%, 100% 55%, 70% 75%, 30% 75%, 0 55%, 0 45%);
clip-path: polygon(30% 25%, 70% 25%, 100% 45%, 100% 55%, 70% 75%, 30% 75%, 0 55%, 0 45%);
  z-index: 3;
}
.eye-left-patch {
  position: absolute;
  background: radial-gradient($light-yellow 50%, transparent 55%);
  height: 50%;
  width: 30%;
  left: 15%;
  transform: rotate(-20deg);
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  z-index: 2;
}
.eye-left-pupil {
  position: absolute;
  background: #ebffaa;
  height: 9%;
  width: 9%;
  border-radius: 50%;
  top: 25%;
  left: 26%;
  z-index: 3;
}
.eye-left-centre {
  position: absolute;
  background: $black-leather-jacket;
  height: 35%;
  width: 35%;
  left: 35%;
  top: 15%;
  border-radius: 50%;
}
.eye-right{
  position: absolute;
  background: $black-leather-jacket;
  height: 20%;
  width: 20%;
  right: 19%;
  top: 20%;
  transform: rotate(-15deg);
  -webkit-clip-path: polygon(30% 25%, 70% 25%, 100% 45%, 100% 55%, 70% 75%, 30% 75%, 0 55%, 0 45%);
clip-path: polygon(30% 25%, 70% 25%, 100% 45%, 100% 55%, 70% 75%, 30% 75%, 0 55%, 0 45%);
  z-index: 3;
}
.eye-right-patch {
  position: absolute;
  background: radial-gradient($light-yellow 50%, transparent 55%);
  height: 50%;
  width: 30%;
  right: 15%;
  transform: rotate(20deg);
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  z-index: 2;
}
.eye-right-pupil {
  position: absolute;
  background: #ebffaa;
  height: 9%;
  width: 9%;
  border-radius: 50%;
  top: 25%;
  right: 26%;
  z-index: 3;
}
.eye-right-centre {
  position: absolute;
  background: $black-leather-jacket;
  height: 35%;
  width: 35%;
  right: 35%;
  top: 15%;
  border-radius: 50%;
  z-index: 3;
}
.nose{
  position: absolute;
  background: radial-gradient(circle 300px at 50% -65%, $liver 50%, $light-yellow 50%);
  width: 55%;
  height: 50%;
  right: 22%;
  bottom: -15%;
  border-radius: 50%;
  z-index: 3;
}
.nose-left-whiskers{
  position: absolute;
  background: $black-leather-jacket;
  width: 38%;
  height: 3%;
  left: 60%;
  bottom: 50%;
  border-radius: 40%;
  transform: rotate(-15deg);
}
.left-whisker-two{
  position: absolute;
  background: $black-leather-jacket;
  width: 100%;
  height: 100%;
  left: -10%;
  bottom: -450%;
  border-radius: 40%;
}
.left-whisker-three{
  position: absolute;
  background: $black-leather-jacket;
  width: 100%;
  height: 100%;
  left: -30%;
  bottom: -900%;
  border-radius: 40%;
}
.nose-right-whiskers{
  position: absolute;
  background: $black-leather-jacket;
  width: 35%;
  height: 3%;
  right: 63%;
  bottom: 50%;
  border-radius: 40%;
  transform: rotate(15deg);
}
.right-whisker-two{
  position: absolute;
  background: $black-leather-jacket;
  width: 100%;
  height: 100%;
  right: -10%;
  bottom: -450%;
  border-radius: 40%;
}
.right-whisker-three{
  position: absolute;
  background: $black-leather-jacket;
  width: 100%;
  height: 100%;
  right: -30%;
  bottom: -900%;
  border-radius: 40%;
}
.nose-bridge{
  position: absolute;
  background: linear-gradient($black-leather-jacket 20%, $liver 80%);
  border-left: 5px solid $black-leather-jacket;
  border-right: 5px solid $black-leather-jacket;
  border-radius: 30%;
  height: 130%;
  width: 50%;
  top: -85%;
  right: 23%;
}
.nose-tip{
  position: absolute;
  background: $pale-copper;
  height: 90%;
  width: 60%;
  bottom: 38%;
  right: 22%;
  z-index: 1;
-webkit-clip-path: polygon(50% 80%, 100% 65%, 55% 100%, 45% 100%, 0 65%);
clip-path: polygon(50% 80%, 100% 65%, 55% 100%, 45% 100%, 0 65%);
}
.nose-split{
  position: absolute;
  background: $black-leather-jacket;
  height: 38%;
  width: 2%;
  bottom: 0%;
  right: 51%;
}
.mouth{
  position: absolute;
  background: $light-yellow;
  height: 40%;
  width: 40%;
  top: 81%;
  right: 30%;
  border-radius: 50%;  
  z-index: 2;
}
.lips{
  position: absolute;
  background: $black-leather-jacket;
  height: 100%;
  width: 100%;
  top: -8%;
  border-radius: 50%;  
}