link(rel="stylesheet" href="main.css")
.box
  .head-mouth
    .head-mouth-copy
    .head-left
    .head-right
    .ear-left
    .ear-right
    .tusk-left
    .tusk-right
    .trunk
      .trunk-top
      .trunk-bottom
    .eye-left
    .eye-right
  